/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeueRegular.eot');
	src: local('☺'), url('../fonts/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular.ttf') format('truetype'), url('../fonts/BebasNeueRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AkzidenzGroteskBQBdCnd';
	src: url('../fonts/AkzidenzGroteskBQBdCnd.eot');
	src: local('☺'), url('../fonts/AkzidenzGroteskBQBdCnd.woff') format('woff'), url('../fonts/AkzidenzGroteskBQBdCnd.ttf') format('truetype'), url('../fonts/AkzidenzGroteskBQBdCnd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*--------------------*/
body{
	font-family: 'PT Sans', sans-serif;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.container{
	max-width: 910px;
	margin: 0 auto;
	padding: 0 15px;

}
/*=====================================*/
.header{
	margin: 29px 0 33px 0;
}
.header-top{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 15px 0 0 0;
}
.header-top-lang{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.header-top-lang__item{
	display: block;
	line-height: 19px;
	color: #000;
	text-transform: uppercase;
	font-family: Bebas;
	font-size: 14px;
	letter-spacing: 1px;
	padding: 0 4px;
	margin: 0 10px 0 0;
}
.header-top-lang__item.active{
	color: #fff;
	background: #000;
}
.header-top__link{
	text-decoration: underline;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
	font-family: AkzidenzGroteskBQBdCnd;
	position: relative;
	z-index: 11;
}
.header-bottom{
	margin: -10px 0 0 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.header-bottom__column{
	flex: 0 0 33.333%;
}

.header-bottom-menu__list{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.header-bottom-menu__link{
	color: #000;
	font-family: AkzidenzGroteskBQBdCnd;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.header-logo{
	display: block;
	text-align: center;
	position: relative;
	z-index: 11;
}
.header-logo__text{
	color: #000;
	font-family: Bebas;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 8px;
	display: block;
}
.header-logo__image{
	display: inline-block;
	margin: 13px 0 22px 0;
}
.header-menu__icon{
	display: none;
}
@media (max-width: 768px){
	.header-menu__icon{
		display: block;
		position: absolute;
		top: 18px;
		left: 12px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
	}
	.header-menu__icon span{
		top: 8px;
		left: 0px;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #000;
		transition: 0.3s transform;
	}
	.header-menu__icon span:first-child{
		top: 0px;
	}
	.header-menu__icon span:last-child{
		top: auto;
		bottom: 0px;

	}
	.header-menu{
		transition: 0.5s transform;
		position: fixed;
		width: 100%;
		height: 100%;
		overflow: auto;
		left: -120%;
		top: 0;
		background: #fff;
		padding: 60px 10px 10px 20px;
		z-index: 4;
		transform: translateX(0%);
	}
	.header-menu.active{
		/*left: 0;*/
		transform: translateX(120%);
	}
	.header-menu__icon.active span:first-child{
		transform: rotate(45deg);
		top: 8px;

	}
	.header-menu__icon.active span:last-child{
		transform: rotate(-45deg);
		bottom: 8px;
	}
	.header-menu__icon.active span{
		transform: scale(0);
	}
	.header-top-lang{
		position: absolute;
		top: 70px;
		left: 20px;
	}
	.header-bottom-menu__list{
		display: block;
		text-align: left;
		margin: 55px 0 0 0;
	}
	.header-bottom-menu__list li{
		margin: 0 0 55px 0;
	}
	.header-logo__image{
		margin: 2px 0 5px 0;
	}
	.header-logo__image img{
		width: 150px;
	}
	.header-logo__text{
		font-size: 8px;
	}
	.header-top{
		justify-content: flex-end;
	}
	.header{
		margin: 5px 0 5px 0; 
	}
	.header-bottom{
		margin: -27px 0 0 0;
	}
}
@media (max-width: 480px){
	.header-logo__image{
		margin: 0 0 2px 0;
	}
	.header-logo__image img{
		width: 100px;
	}
	.header-top__link{
		font-size: 12px;
	}
	.header-logo__text{
		letter-spacing: 5px;
	}
}
/*=====================================*/
.content{
	flex: 1 1 auto;
}
.private{

}
.private__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.private__image{
	flex: 0 0 50%;
	position: relative;
}
.private__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}
.private__body{
	background: #000;
	flex: 0 0 50%;
	width: 100%;
	height: 100%;
}
.private__item{
	padding: 75px 0 75px 60px;
}
.private__item__content{
	min-width: 305px;
}
.private__title{
	color: #ffffff;
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 56px;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 0 0 40px 20px;
}
.private__text{
	color: #ffffff;
	font-size: 20px;
	line-height: 25px;
	margin: 0 0 40px 20px;
}
.private__button{
	display: inline-block;
	height: 50px;
	text-align: center;
	margin: 0 0 0 20px;
}

.private__button p{
	color: #fffffe;
	font-family: Bebas;
	font-size: 20px;
	line-height: 25px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 13px 30px;
}
.private__button p:hover{
	color: black;
	background: #fff;
	text-decoration: none;
}

@media (max-width: 980px) {
	.private__row{
		display: block;
	}
	.private__image{
		display: none;
	}
	.private__body{
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		text-align: center;

		background: #000;
	}
	.private__item a{
		margin: 20px 0 0 0;
	}
	.private__title{
		margin: -30px 0 10px 0;
		font-size: 40px;
	}
	.private__text{
		margin: 0 0 0 0;
		font-size: 18px;
	}
	.private__item{
		padding: 45px 0 25px 0;
   }
}
@media (max-width:480px){
	.private__title{
		font-size: 24px;
		line-height: 25px;
	}
	.private__text{
		font-size: 12px;
		line-height: 14px;
	}
	.private__item p{
		font-size: 10px;
		line-height: 8px;
	}
	.private__item{
		padding: 45px 0 0 0;
	}
}
/*=====================================*/
.info-columns{
	margin: 55px 0;
	background: #ffffff;
}
.columns__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.columns{
	/*flex: 0 0 25%;*/
}
.columns__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	height: 100%;
	
}
.columns__image{
	padding: 0 0 100% 0;
	overflow: hidden;
	position: relative;
	margin: 0 0 25px 0;
}
.columns__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.columns__title{
	height: 50px;
	overflow: hidden;
	padding: 0 10px 0 0;
	color: #000000;
	max-width: 185px;
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 0 30px 0;
}
.columns__text{
	flex: 1 1 auto;
	padding: 0 10px 0 0;
	max-width: 185px;
	font-size: 15px;
	line-height: 25px;
	margin: 0 0 25px 0;
}
.info-columns__button{
	display: block;
	width: 100%;
	height: 50px;
	text-align: center;
	margin: 0 0 10px 0;
}

.info-columns__button p{
	color: black;
	font-family: Bebas;
	font-size: 15px;
	line-height: 25px;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	padding: 13px 40px;
}
.info-columns__button p:hover{
	color: white;
	background: #000;
	text-decoration: none;
}
@media (max-width: 980px) {
	.info-columns{
		margin: 25px 0;
		background: #ffffff;
	}
	.columns__row{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.columns{
		flex: 0 0 50%;
		margin: 0 0 20px 0;
	}
	/*.columns__image{
		width: 100%;
	}
	.columns__image img{
		width: 100%;
	}*/
	.columns__title{

		font-size: 35px;
		max-width: 100%;
	}
	.columns__text{
		font-size: 22px;
		max-width: 90%;
	}
	.info-columns__button{
		margin: 0 0 20px 0;
	}
	.info-columns__button p{
		font-size: 22px;
		padding: 20px 40px;
	}
}
@media (max-width: 740px) {
	.columns__row{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.columns{
		flex: 1 1 100%;
		margin: 0 0 20px 0;
	}
/*	.columns__image{
		width: 100%;
	}
	.columns__image img{
		width: 100%;

	}*/
	.columns__title{
		text-align: center;
		font-size: 40px;
		max-width: 90%;
		line-height: 40px;
		padding: 15px 0 0 0;
		max-width: none;
	}
	.columns__text{
		font-size: 25px;
		max-width: 90%;
		line-height: 30px;
		max-width: none;
	}
	.info-columns__button{
		margin: 0 0 30px 0;
	}
	.info-columns__button p{
		font-size: 25px;
		padding: 22px 40px;
		margin: 0 0 30px 0;
	}
}
/*=====================================*/
.choose{

}
.choose__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.choose__text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 0 0 50%;
	background: #000000;
	-ms-align-items: flex-end;
	align-items: center;
	justify-content: flex-end;
	padding: 55px 60px 55px 0;
}
.choose__text span{
	color: #ffffff;
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 50px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
	display: inline-block;
}
.choose__image{
	flex: 0 0 50%;
	position: relative;
}
.choose__image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
}
.choose-columns{
	background: #ebebeb;
	padding: 50px 0 0 0;
}
.choose-column__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.choose-column{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 0 0 50%;
	margin: 0 0 50px 0;
}

.choose-column__image{
	flex: 0 0 100px;
	height: 100px;
	background-color: #000000;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.choose-column__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	flex: 1 1 100%;
	padding: 0 0 0 11px;
}
.choose-column__title{
	flex: 1 1 auto;
	color: #000000;
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 25px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}
.choose-column__text{
	color: #000000;
	font-size: 15px;
	line-height: 25px;
	padding: 0 15px 0 0;
	width: 90%;
}
@media (max-width: 980px){
	.choose__row{

	}
	.choose__text{
		flex: 0 0 100%;
		padding: 40px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
	.choose__image{
		display: none;
	}
	.choose-column__row{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		flex: 1 1 100%;
	}
	.choose-column{
		flex: 0 0 100%;
	}
	/*.choose-column__image{
		max-width: 100px;
		max-height: 100px;
	}*/
	.choose-column__title{
		font-size: 40px;
		line-height: 40px;
	}
	.choose-column__text{
		font-size: 25px;
		margin: 10px 0 0 0;
	}
}
@media (max-width: 450px){
	.choose-column__title{
		font-size: 20px;
		line-height: 30px;
	}
	.choose-column__text{
		font-size: 20px;
	}
	.choose__text span{
		font-size: 32px;
	}
	.choose-column__image{
		flex: 0 0 80px;
		min-height: 80px;
		padding: 5px;
	}
	.choose-column__image img{
		max-width: 100%;
	}
}
/*=====================================*/
.hello{
	margin: 52px 0 58px 0;
}
.hello__item{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.hello__title{
	color: #000000;
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 50px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
}
.hello__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.hello__left-contacts{
	flex: 0 0 50%;
	margin: 39px 0 0 0;
}
.hello__place{
	margin: 25px 0;
}
.hello__place a{
	color: #000000;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
}
.hello__place img{
	padding: 0 10px 0 0;
}
.hello__phone a{
	color: #000000;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
}
.hello__phone img{
	padding: 0 6px 0 0;
}
.hello__right-contacts{
	flex: 0 0 50%;
	margin: 62px 0 0 0;
}
.hello__mail{
	margin: 0 0 25px 0;
}
.hello__mail a{
	color: #000000;
	font-family: "PT Sans";
	font-size: 15px;
	line-height: 25px;
}
.hello__mail img{
	padding: 2px 10px 0 0;
}
.hello__icon a{
	margin: 0 30px 0 0;
}
@media (max-width: 980px){
	.container{
		max-width: 760px;
	}
	.hello__row{
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.hello__left-contacts{
		flex: 0 0 100%;
	}
	.hello__right-contacts{
		flex: 0 0 100%;
	}
}
/*=====================================*/
.get__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.map{
	flex: 0 0 50%;
}
.map iframe{
	width: 100%;
}
.forms{
	background: #000;
	width: 100%;
	flex: 0 0 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	padding: 50px 0 50px 60px;
}
.forms__form{
	max-width: 250px;
	color: #fff;
}
.forms__form div{
	margin: 10px 0;
}
.forms__title{
	color: #ffffff;
	font-family: "AkzidenzGroteskBQBdCnd";
	font-size: 25px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
}
.forms__name input{
	padding-left: 10px;
	width: 100%;
	min-height: 50px;
	border: 2px solid #959595;
	background-color: #252525;
	color: #fff;
}
.forms__mail input{
	padding-left: 10px;
	width: 100%;
	min-height: 50px;
	border: 2px solid #959595;
	background-color: #252525;
	color: #fff;
}
.forms__textarea{
	display: block;
	padding-left: 10px;
	width: 100%;
	max-height: 100px;
	border: 2px solid #959595;
	background-color: #252525;
	overflow: auto;
	color: #fff;
}
.forms_btn{
	width: 155px;
	height: 50px;
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px 0 0 0;
}
.forms_btn p{
	color: #000000;
	font-family: Bebas;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}
@media (max-width: 980px){
	.get__row{
		flex: 0 0 100%;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap-reverse;
	}
	.map{
		flex: 0 1 100%;
	}
	.forms{
		flex: 0 1 100%;
	}
	.forms__form{
		min-width: 100%;
	}
	.forms__name input{
		width: 90%;
	}
	.forms__mail input{
		width: 90%;
	}
	.forms__textarea{
		max-width: 90%;
	}
}
.footer{
	height: 126px;
}
.footer__row{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 54px 0;
}
.footer__text{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 0 1 50%;
	justify-content: flex-start;
	color: #4d4d4d;
	font-size: 15px;
	line-height: 25px;
	text-decoration: underline;
}
.footer__logo{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 0 1 50%;
	justify-content: flex-end;
	margin: -13px 0 0 0;
}
@media (max-width: 680px){
	.footer__row{
		display: block;
		position: relative;
	}
	.footer__text{
		display: block;
		font-size: 12px;
		position: absolute;
		top: 80px;
	}
	.footer__logo{
		display: block;
		position: absolute;
		top: 30px;
	}
}

/*=======================================*/

.swiper-container{
	max-width: 400px;
	margin: 0 auto;
}